<%-include('partials/adminheader'); -%>




<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> Update info Approval</h1>

  </div>
</main>
<div class="container mr-2">
  <table class="table" border="2">
    <tr>
      <th>Serial</th>
      <th>Name</th>
      <th>Mobile No</th>
      <th>Email</th>
      <th>Contact Address & Homepage</th>
      <th>Current Position & Affiliation</th>
      <th>Masters Subject & Institution</th>
      <th>PhD Research Field & Institution</th>
      <th>Areas of Specialization</th>
      <th>Current Research Interest</th>
      <th>Membership Category</th>
      <th>Password</th>

      <th>Delete</th>
    </tr>
    <%membs.forEach(function(memb,index){%>
      <tr>
        <td><%=index+1%></td>
        <td><%=memb.name%></td>
        <td><%=memb.mobile%></td>
        <td><%=memb.mail%></td>
        <td><%=memb.address%></td>
        <td><%=memb.position%></td>
        <td><%=memb.insti%></td>
        <td><%=memb.phd%></td>
        <td><%=memb.specialization%></td>
        <td><%=memb.research%></td>
        <td><%=memb.option%></td>
        <td><%-memb.pass%></td>

        <td><a class="delete" href="/cmudelete/<%=memb._id%>">Delete</a></td>
      </tr>




  <%});%>
  </table>
</div>


<%- include("partials/adminfooter"); -%>



<%-include('partials/adminfooter'); -%>
