<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">Executive Committee of BBCBA</div>


        <%comes.forEach(function(come){%>
            <h2 style="color:#19456b;"id="<%=come.title%>"> <strong><u><%=come.title%></u></strong></h2>
            <p><%-come.name%></p>




        <%});%>

      </div>



<%- include("partials/con_footer"); -%>
