<%-include('partials/adminheader'); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Life Member</h1>

  </div>




  </main>

<div class="container">
  <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <form class="" action="/lifemember" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" name="name" autocomplete="off">
          <label>Homepage link</label>
          <input class="form-control" type="text" name="homepage" autocomplete="off">
          <label>Current position and Affiliation</label>
          <input class="form-control" type="text" name="position"autocomplete="off">
          <label>Masters Research Field & Institution</label>
          <input class="form-control" type="text" name="masters"autocomplete="off">
          <label>PhD Research Field & Institution</label>
          <input class="form-control" type="text" name="phd"autocomplete="off">
          <label>Areas of Specialization</label>
          <input class="form-control" type="text" name="areaOfSpecialization"autocomplete="off">
          <label>Current Research Interest</label>
          <input class="form-control" type="text" name="current"autocomplete="off">
          <label>Contact Address & Mobile</label>
          <input class="form-control" type="text" name="contact"autocomplete="off">
          <label>Email</label>
          <input class="form-control" type="email" name="mail"autocomplete="off">

          <label>photo upload</label>
          <input type="file" name="file" value="">

          <label>Password Generate:</label>
          <input type="text" name="pass" placeholder="Create password" id="password"readonly="">
          <button type="button" onclick="getPassword()" class="btn btn-info">generate password</button>

        </div>
        <button class="btn btn-dark mt-4" type="submit" name="button">Publish</button>
        </form>
        <div class="container mt-5 mr-5">
          <table class="table" border="1">
            <thead>
              <tr>
                <th>Name</th>
                <th>Homepage</th>
                <th>Current position and Affiliation</th>
                <th>Masters Research Field & Institution</th>
                <th>PhD Research Field & Institution</th>
                <th>Areas of Specialization</th>
                <th>Current Research Interest</th>
                <th>Contact Address & Mobile</th>
                <th>Email</th>
                <th>Password</th>
                <th>photo upload</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <%lifes.forEach(function(life){%>
              <tr>
                <td><%=life.name%></td>
                <td><%=life.homepage%></td>
                <td><%=life.position%></td>
                <td><%=life.masters%></td>
                <td><%=life.phd%></td>
                <td><%=life.areaOfSpecialization%></td>
                <td><%=life.current%></td>
                <td><%=life.contact%></td>
                <td><%=life.mail%></td>
                <td><%=life.pass%></td>
                <td><img class="up-img3"src="/uploads/<%= life.image %>" alt="profile picture"></td>
                <td><a class="edit" href="/lifeedit/<%=life._id%>">Update </a></td>
                <td><a class="delete" href="/lifedelete/<%=life._id%>">Delete</a></td>
              </tr>
                <%})%>
            </tbody>
          </table>
        </div>
      </div>
  </div>



<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


<%-include('partials/adminfooter'); -%>
