<%- include("partials/header"); -%>

<div class="container">
  <div class="heading text-center">Student Member</div>


<%students.forEach(function(student,index){  %>
  <div class="row life">
    <div class="col-sm-3">
      <% if(student.image){%>
        <img class="up-img"src="/uploads/<%= student.image %>" alt="profile picture">
      <% } %>

    </div>
    <div class="data1 col-sm-9">
      <p><strong class="h3">Name: </strong><%=student.name %></p>
      <p><strong class="h3">Membership_id: </strong><span><u>SM</u> <%=index+1 %></span></p>
      <p><strong class="h3">Current Position & Affiliation: </strong><%=student.position %></p>
      <p><strong class="h3">Masters Research Field & Institution : </strong><%=student.masters %></p>
      <p><strong class="h3">PhD Research Field & Institution: </strong><%=student.phd %></p>
      <p><strong class="h3">Areas of Specialization: </strong><%=student.areaOfSpecialization %></p>
      <p><strong class="h3">Current Research Interest: </strong><%=student.current %></p>
      <p><strong class="h3">Contact Address & Mobile : </strong><%=student.contact %></p>
      <p><strong class="h3">Email: </strong><%=student.mail %></p>
    </div>

  </div>
  <hr>
<%});%>
</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<%- include("partials/footer"); -%>
