<%-include('partials/adminheader'); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Training Schedule Update</h1>

  </div>




</main>
</div>
</div>
<div class="container">
  <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <form class="" action="/trainingupdate" method="post"enctype="multipart/form-data">

      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" autocomplete="off">

        <label>Date</label>
        <input class="form-control" type="text" name="date" autocomplete="off">
        <label>short discription</label>
        <textarea class="form-control"id="editor" name="shortDiscription" rows="5" cols="30"></textarea>
        <label>upload Lecture Files</label>
        <input class="form-control" type="file" name="file" value="">

        </div>



      <button class="btn btn-dark mt-4" type="submit" name="button">Publish</button>
    </form>
    <div class="container mt-5 mr-5">
      <table class="table" border="1">
        <thead>
          <tr>
            <th>title</th>
            <th>Date</th>
            <th>short discription</th>
            <th>File</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%trens.forEach(function(tren){%>
          <tr>
            <td><%=tren.title%></td>
            <td><%=tren.date%></td>
            <td><%-tren.shortDiscription%></td>
            <td><a href="/uploads/<%=tren.file%>"><%=tren.file%></a></td>
            <td><a class="edit" href="/trenedit/<%=tren._id%>">Update </a></td>
            <td><a class="delete" href="/trendelete/<%=tren._id%>">Delete</a></td>
          </tr>
            <%})%>
        </tbody>
      </table>
    </div>
  </div>

</div>


<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


<%-include('partials/adminfooter'); -%>
